<!-- Footer -->
<mat-toolbar class="footer">

  <div id="links" >
    <ul>
        
      <li> <a [routerLink]="['/home']" [routerLinkActive]="'is-active'">{{'FOOTER.LINKS.HOME'|translate}}</a></li>
      <li><a [routerLink]="['/home1']" [routerLinkActive]="'is-active'" href=""> {{'FOOTER.LINKS.ABOUT'|translate}}</a></li>
      <li> <a [routerLink]="['/home2']" [routerLinkActive]="'is-active'"> {{'FOOTER.LINKS.TERMS_USE'|translate}} </a></li>
      <li> <a [routerLink]="['/home3']" [routerLinkActive]="'is-active'"> {{'FOOTER.LINKS.HELP'|translate}}</a></li>
    </ul>
  </div>
</mat-toolbar>

<!-- 
  <div class="footer">
<h1>ss</h1>
  </div> -->
