<div class="formContainer">
    <form #financialSupportRequestForm="ngForm">
    <h1>פרטי הבקשה</h1> 
    <label for="sum" >סכום מבוקש:</label>    
      <mat-form-field> 
        <input matInput type="text" name="sum" />
      </mat-form-field>
    <br/>
    
    <label for="reason">סיבת הבקשה:</label>
    <mat-form-field> 
     <input matInput type="text" name="reason" />
    </mat-form-field>
    <br/>
    
    <label for="describe">פרוט בקשה:</label>
    <mat-form-field>
      <input matInput type="text" name="describe" />
    </mat-form-field>
    <br/>
    
    <label for="period">תקופת בקשה:</label>
    <mat-form-field>  
      <input matInput type="text" name="period" />
    </mat-form-field>
    <br/>
    
   
    </form>
    </div>