
<mat-toolbar>
    <button class="menu_button"><mat-icon class="menu">menu</mat-icon></button>
    <span class="">{{'AMUTA'|translate}}</span>

    <span class="example-fill-remaining-space"></span>
    <div id="labels">
    <mat-tab-group dynamicHeight="true" >
        <mat-tab label="{{'HEADER.MENU.COLLELS'|translate}}" >{{'HEADER.MENU.COLLELS'|translate}}</mat-tab>
        <mat-tab label="{{'HEADER.MENU.YESHIVOT'|translate}}" >{{'HEADER.MENU.YESHIVOT'|translate}}</mat-tab>
        <mat-tab label="{{'HEADER.MENU.REPORTS'|translate}}" >{{'HEADER.MENU.REPORTS'|translate}}</mat-tab>     
      </mat-tab-group>
    </div>
    <span class="login_span">{{'HEADER.LOGIN_SECTION.HELLOW'|translate}}, <a href="">{{'HEADER.LOGIN_SECTION.CONNECT'|translate}}</a></span> 
  </mat-toolbar>
