<h3>תמיכות:</h3>
<a mat-raised-button routerLink="/financialSupportRequestForm">בקשה לתמיכה כלכלית</a>
<br/>
<a mat-raised-button routerLink="/dentalHealthSupportRequestForm">בקשה לרפואת שינים</a>
<br/>
<a mat-raised-button routerLink="/healthSupportRequestForm">בקשה לתמיכה רפואית</a>
<br/>
<a mat-raised-button routerLink="/loansForm">בקשה להלוואה</a>
<br/>
<a mat-raised-button routerLink="/scholarshipForm">בקשה למלגה</a>
<br/>
<h3>חדש:</h3>
<a mat-raised-button routerLink="branches/createBranch">הוספת כולל חדש</a>
<br/>
<a mat-raised-button routerLink="/students/create">הוספת תלמיד חדש</a>
<br/>
<h3>עדכון:</h3>
<a mat-raised-button routerLink="/students/update">עדכן תלמיד</a>

